/* fancybox.less
=========================================================*/
/* gallery.less
=========================================================*/
.jg_subcatelem_txt {
  background: rgba(135, 193, 63, 0.5);
}
.jg_subcatelem_txt:before {
  background: #87c13f;
}
.jg_imgalign_catimgs .jg_catelem_txt {
  background: rgba(135, 193, 63, 0.5);
}
.jg_imgalign_catimgs .jg_catelem_txt:before {
  background: #87c13f;
}
/* komento.less
=========================================================*/
#section-kmt .kmt-control-user .kmt-btn {
  border: 1px solid #a0cb69;
  color: #b8d693;
}
#section-kmt .kmt-like-counter {
  border: 1px solid #a0cb69;
}
#section-kmt .kmt-like-counter:before {
  border-left: 5px solid #a0cb69;
}
#section-kmt .kmt-rank-progress {
  background: #87c13f;
}
/* kunena.skinner.less
=========================================================*/
#Kunena .kfile-hide .kbutton,
#Kunena .kfile-hide .kfile-input {
  background: #87c13f;
}
#Kunena a:hover {
  color: #87c13f;
}
#Kunena ul li a:hover {
  color: #87c13f;
}
#Kunena div.chzn-container .chzn-results li:hover {
  background: #87c13f;
}
#Kunena #ktop #ktopmenu #ktab ul.menu li a {
  border-bottom: 2px solid transparent;
}
#Kunena .klist-markallcatsread + div.kblock {
  margin-top: 0;
}
#Kunena div.kblock div.kheader {
  background: #87c13f;
}
#Kunena .chzn-container-active.chzn-with-drop .chzn-single div {
  background: #87c13f;
}
#Kunena div.kblock div.kheader > span:not(.kcheckbox) {
  background: #87c13f;
}
#Kunena dl.tabs dt.open {
  background: #87c13f;
}
/* layout.less
=========================================================*/
/* owl-carousel.less
=========================================================*/
@-webkit-keyframes fadeOut {
}
@keyframes fadeOut {
}
/* portfolio.less
=========================================================*/
.page-gallery__works .item_img .more_wrapper {
  background: rgba(135, 193, 63, 0.5);
}
.page-gallery__works .gallery-item .item_header h1.item_title a,
.page-gallery__works .gallery-item .item_header h2.item_title a,
.page-gallery__works .gallery-item .item_header h3.item_title a,
.page-gallery__works .gallery-item .item_header h4.item_title a,
.page-gallery__works .gallery-item .item_header h5.item_title a,
.page-gallery__works .gallery-item .item_header h6.item_title a {
  color: #87c13f;
}
.sorting ul#sort li a:hover {
  color: #87c13f;
}
.sorting ul#sort li.active {
  color: #87c13f;
}
.sorting ul#sort li.active a {
  color: #87c13f;
}
.item_img .articleGalleryZoom:before,
.item_img .galleryZoomIcon:before {
  background: #87c13f;
}
/* swiper.less
=========================================================*/
.swiper-scrollbar-drag {
  background: #87c13f;
}
@-webkit-keyframes swiper-preloader-spin {
}
@keyframes swiper-preloader-spin {
}
/* template.less
=========================================================*/
@-webkit-keyframes fadeIn {
}
@keyframes fadeIn {
}
.mod-newsflash-adv *[class*=puppets] {
  color: #87c13f;
}
.mod-newsflash-adv.services .item_title {
  color: #87c13f;
}
.mod-newsflash-adv.mod-newsflash-adv__type1 .item_title,
.mod-newsflash-adv.mod-newsflash-adv__type2 .item_title {
  color: #87c13f;
}
.mod-newsflash-adv.mod-newsflash-adv__pricing_simple .item .item_content {
  border: 1px solid #87c13f;
}
.mod-newsflash-adv.mod-newsflash-adv__pricing_simple .item .item_content .item_title {
  color: #87c13f;
}
.mod-newsflash-adv.mod-newsflash-adv__pricing_simple .item.featured .item_content .btn:hover {
  background: #87c13f;
}
.mod-newsflash-adv.mod-newsflash-adv__pricing_detailed .item .item_title {
  color: #87c13f;
}
.mod-newsflash-adv.mod-newsflash-adv__pricing_detailed .item i.caption {
  background: #87c13f;
}
.mod-newsflash-adv.mod-newsflash-adv__pricing_detailed .item .item_content ul li.fa-check-circle:before {
  color: #87c13f;
}
.parallax {
  background: #87c13f;
}
.parallax ul.systems li {
  color: #609122;
}
.parallax ul.systems li + li:before {
  background: #609122;
}
.tags .label {
  background: #87c13f;
}
.item_info .item_info_dl dd .tags:before,
.item_info .item_info_dl dd .item_createdby:before,
.item_info .item_info_dl dd .item_hits:before,
.item_info .item_info_dl dd .item_published:before,
.item_info .item_info_dl dd .item_category-name:before,
.item_info .item_info_dl dd .kmt-comment:before {
  color: #87c13f;
}
.item_info .item_info_dl dd a:hover {
  color: #87c13f;
}
.social-links li a {
  color: #87c13f;
}
#mainbottom-2 .moduleTitle {
  color: #87c13f;
}
#mainbottom-3 {
  background: #87c13f;
}
#footer .moduleTitle {
  color: #87c13f;
}
hr {
  border-top: 1px solid #accf80;
}
a {
  color: #87c13f;
}
blockquote:before {
  color: #87c13f;
}
blockquote cite {
  color: #87c13f;
}
.item_introtext mark,
.item_fulltext mark,
.category_desc mark {
  background: #87c13f;
}
table th {
  background: #87c13f;
}
table a {
  color: #87c13f;
}
dl.table dt {
  background: #87c13f;
}
div.chzn-container .chzn-results li.highlighted {
  background: #87c13f;
}
.input-prepend {
  /* .add-on:first-child,
  .btn:first-child {
    
    } */
}
.input-prepend .add-on i,
.input-prepend .add-on > span {
  color: #87c13f;
}
.input-prepend .add-on:hover i {
  background: #87c13f;
}
/* Allow for input prepend/append in search forms */
.btn,
.kbutton {
  background: #87c13f;
  border-bottom: 4px solid #609122;
}
.btn:hover,
.kbutton:hover,
.btn:focus,
.kbutton:focus,
.btn.focus,
.kbutton.focus,
.btn.active,
.kbutton.active,
.btn.selected,
.kbutton.selected {
  background: #609122;
}
/* .btn-info {
  
  
  &:hover {
    
    
  }
} */
/* .btn-default {
    
}
.btn-primary {
    
}

.btn-success {
    
}

.btn-info {
    
}

.btn-warning {
    
}

.btn-danger {
    
}
 */
/* 
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  
} */
.nav-tabs > li > a {
  background: #87c13f;
  border-bottom: 4px solid #609122;
}
.nav-tabs > li > a:hover {
  background: #609122;
  border-bottom: 4px solid #416217;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #609122;
  border-bottom: 4px solid #416217;
}
#breadcrumbs {
  background: #87c13f;
}
/*.label-default {
  
}

.label-primary {
  
}

.label-success {
  
}

.label-info {
  
}

.label-warning {
  
}

.label-danger {
  
}
*/
.progress-bar-default .progress-bar__stroke {
  stroke: #87c13f;
}
.progress-bar-default.progress-bar-radial .progress-bar__stroke {
  stroke: #87c13f;
}
ul li a,
ol li a {
  color: #87c13f;
}
ol li:before {
  color: #87c13f;
}
ol li a:hover {
  color: #87c13f;
}
.nav.menu.social li a {
  color: #87c13f;
}
ul.list li:before {
  color: #87c13f;
}
ul.list li a:hover {
  color: #87c13f;
}
ul.icons li:before {
  color: #87c13f;
}
ul.icons li a:hover {
  color: #87c13f;
}
.panel-group .panel:nth-child(even) .panel-heading a {
  background: #609122;
}
.panel-group .panel-heading a {
  background: #87c13f;
}
.panel-group .panel-heading a.collapsed {
  background: #87c13f;
}
.custom .panel-group .panel-heading a {
  color: #87c13f !important;
}
.custom .panel-group .panel-heading a:before {
  color: #87c13f !important;
}
/* .panel-default {
     
  } */
/*.panel-primary {
     
}
.panel-success {
     
}
.panel-info {
     
}
.panel-warning {
     
}
.panel-danger {
     
}*/
.modal {
  background: #87c13f;
}
.modal-content {
  background-color: #87c13f;
}
.offline_container .well {
  background: #87c13f;
}
.mod-menu .nav.menu.nav-pills > li.active > a {
  background: #87c13f;
}
.icons .btn-group.pull-right ul.dropdown-menu > li > a:hover {
  background: #87c13f;
}
/*======================= Search & Smart Search ========================*/
#back-top a {
  color: #87c13f;
}
#habla_window_div .habla_offline_submit_input {
  background: #609122 !important;
}
#habla_window_div #habla_topbar_div {
  background: #87c13f !important;
}
*::selection {
  background: #87c13f;
}
*::-moz-selection {
  background: #87c13f;
}
.icemega_modulewrap.top_search i.fa-times {
  color: #87c13f;
}
.icemega_modulewrap.top_search .btn-primary {
  color: #87c13f;
}
.login_shell {
  background: #6c9b32;
}
.login_shell .btn:focus,
.login_shell .btn:hover {
  background: #609122;
}
div#fixed-sidebar-right .moduletable.login > i.fa-user {
  background: #6c9b32;
}
div#fixed-sidebar-right .moduletable.login .mod_login_wrapper {
  background: #6c9b32;
}
div#fixed-sidebar-right .moduletable.login .mod_login_wrapper .input-prepend .add-on:hover i {
  color: #87c13f;
}
.menu-login-form > ul:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 11px 11px;
  border-color: transparent transparent #87c13f transparent;
}
.menu-login-form .icemega_modulewrap.login_megamenu {
  background: #87c13f;
}
.page-category__history .items-row > div:before {
  background: #87c13f;
}
.page-category__history .items-row:before {
  background: #87c13f;
}
.page-category__faqs .item_title span.item_title_part0 {
  color: #87c13f;
}
.icemegamenu > ul > li > a.iceMenuTitle:hover,
.icemegamenu > ul > li > a.iceMenuTitle.hover,
.icemegamenu > ul > li > a.iceMenuTitle.icemega_active {
  color: #87c13f;
}
.icemegamenu > ul > li > a.iceMenuTitle:hover:before,
.icemegamenu > ul > li > a.iceMenuTitle.hover:before,
.icemegamenu > ul > li > a.iceMenuTitle.icemega_active:before {
  background: #87c13f;
}
.icemegamenu > ul > li.active > a.iceMenuTitle,
.icemegamenu > ul > li.hover > a.iceMenuTitle {
  color: #87c13f;
}
.icemegamenu > ul > li.active > a.iceMenuTitle:before,
.icemegamenu > ul > li.hover > a.iceMenuTitle:before {
  background: #87c13f;
}
ul.icesubMenu li.active > a.iceMenuTitle,
ul.icesubMenu li:hover > a.iceMenuTitle,
ul.icesubMenu li.hover > a.iceMenuTitle {
  color: #87c13f;
}
@media (max-width: 767px) {
  .rd-mobilemenu_ul a.iceMenuTitle:hover {
    background: #87c13f;
  }
  .rd-mobilemenu_ul a.active,
  .rd-mobilemenu_ul li.level_1.active > a {
    color: #87c13f;
    background: #87c13f;
  }
  .rd-mobilemenu_submenu li.active > a {
    color: #87c13f;
  }
}
