/*----- ##notice panel -----------------------------------------------------------*/		

.notice 																		{ border:1px solid #d9d9d9;box-shadow:inset 0 0 0px 1px #FFFFFF;-moz-box-shadow:inset 0 0 0px 1px #FFFFFF;-webkit-box-shadow:inset 0 0 0px 1px #FFFFFF;height:45px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;margin-bottom:25px;padding-left:20px;cursor:pointer; }
.notice span 																	{ color:#515151;font-size:14px;text-shadow:1px 1px rgba(255,255,255,0.5);line-height:45px;padding } 

.notice.warning span 															{ color:#4a3505; }
.notice.warning 																{ border-color:#eac572;background: rgb(255,244,214);background: -moz-linear-gradient(top,  rgba(255,244,214,1) 1%, rgba(244,226,184,1) 71%);background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,244,214,1)), color-stop(71%,rgba(244,226,184,1)));background: -webkit-linear-gradient(top,  rgba(255,244,214,1) 1%,rgba(244,226,184,1) 71%);background: -o-linear-gradient(top,  rgba(255,244,214,1) 1%,rgba(244,226,184,1) 71%);background: -ms-linear-gradient(top,  rgba(255,244,214,1) 1%,rgba(244,226,184,1) 71%);background: linear-gradient(top,  rgba(255,244,214,1) 1%,rgba(244,226,184,1) 71%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4d6', endColorstr='#f4e2b8',GradientType=0 ); }

.notice.info span 																{ color:#244f74; }
.notice.info 																	{ border-color:#7facd0;background: rgb(199,225,247);background: -moz-linear-gradient(top,  rgba(199,225,247,1) 1%, rgba(176,210,238,1) 71%);background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(199,225,247,1)), color-stop(71%,rgba(176,210,238,1)));background: -webkit-linear-gradient(top,  rgba(199,225,247,1) 1%,rgba(176,210,238,1) 71%);background: -o-linear-gradient(top,  rgba(199,225,247,1) 1%,rgba(176,210,238,1) 71%);background: -ms-linear-gradient(top,  rgba(199,225,247,1) 1%,rgba(176,210,238,1) 71%);background: linear-gradient(top,  rgba(199,225,247,1) 1%,rgba(176,210,238,1) 71%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7e1f7', endColorstr='#b0d2ee',GradientType=0 ); }
	
.notice.error span 																{ color:#571212; }
.notice.error 																	{ border-color:#e18b7c;background: rgb(255,227,222);background: -moz-linear-gradient(top,  rgba(255,227,222,1) 1%, rgba(252,202,193,1) 72%);background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,227,222,1)), color-stop(72%,rgba(252,202,193,1)));background: -webkit-linear-gradient(top,  rgba(255,227,222,1) 1%,rgba(252,202,193,1) 72%);background: -o-linear-gradient(top,  rgba(255,227,222,1) 1%,rgba(252,202,193,1) 72%);background: -ms-linear-gradient(top,  rgba(255,227,222,1) 1%,rgba(252,202,193,1) 72%);background: linear-gradient(top,  rgba(255,227,222,1) 1%,rgba(252,202,193,1) 72%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe3de', endColorstr='#fccac1',GradientType=0 ); }

.notice.success span 															{ color:#617718; }
.notice.success 																{ border-color:#b2c866;background: rgb(240,250,204);background: -moz-linear-gradient(top,  rgba(240,250,204,1) 0%, rgba(223,242,153,1) 71%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,250,204,1)), color-stop(71%,rgba(223,242,153,1)));background: -webkit-linear-gradient(top,  rgba(240,250,204,1) 0%,rgba(223,242,153,1) 71%);background: -o-linear-gradient(top,  rgba(240,250,204,1) 0%,rgba(223,242,153,1) 71%);background: -ms-linear-gradient(top,  rgba(240,250,204,1) 0%,rgba(223,242,153,1) 71%);background: linear-gradient(top,  rgba(240,250,204,1) 0%,rgba(223,242,153,1) 71%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0facc', endColorstr='#dff299',GradientType=0 ); }

.banner_wrap
{
	margin-bottom:50px;
	padding-bottom: 30px;
	border-bottom: 2px solid #e6e9ed;
}
.file_wrap
{
	overflow:hidden; 
	margin:10px 10px 20px 10px;
}
.banner_text
{
	margin-left:10px;
}

.banner_code
{
	width:85%; 
    height:50px;
    font-size:11px;
}

.banner_code textarea 
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn.btn-success.banner
{
	width:14%; 
	height:50px;
}

.nav_menu .top_tiles .tile h2 
{
    font-size: 20px;
}

.nav_menu .top_tiles .tile 
{
	float:left;
	width:145px;
    padding-top: 5px;
}

.img-circle.bitcoin_img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(52, 73, 94, 0.44);
    position: inherit;
    /*width: 70%;*/
    z-index: 1000;
}

.btc
{
    font-size: 16px;
}

.width_50
{
	width:50%;
	padding: 10px;
}

.animated
{
	margin-top:30px
}


.structure
{
	width:100%;
	margin-top: 50px;
}

.structure_head
{
	width:100%;
	margin-bottom: 50px;
	text-align:center;
}

.structure_wrap
{
	width:100%;
	overflow:hidden;
	margin:0 auto;
}

.matrix
{
	width:100%;
	margin-bottom: 20px;
	overflow:hidden;
}

.matrix-head
{
	width:100%;
	text-align:center;
}

.matrix-block
{
	width:100%;
	overflow:hidden;
}

.matrix-block.linear
{
	margin:0 auto;
}

.level
{
	width:100%;
	overflow:hidden;
}

.matrix_number
{
	text-align:center;
	font-size: 14px;
	margin-bottom: 20px;
}

.matrix-linear-block
{
	float:left;
}

.matrix-binary-block-wrap, .matrix-linear-block-wrap
{
	width:100%;
	overflow:hidden;
	margin:50px 0;
}

.level_1
{
	width:100%;
	overflow:hidden;
}

.matrix-binary-block
{
	width:50%;
	float:left;
	margin-right:40px;
	margin:0 auto;
}

.matrix-binary-block.level_1
{
	width: 50%;
}

.matrix-binary-block.level_2
{
	width: 25%;
}

.matrix-login
{
	width:100px;
	text-align:center;
}

.matrix-wrap
{
	width:50%;
	margin: 0 auto; 
	height:80px;
	overflow:hidden;
}

.matrix-wrap.left, .matrix-login-wrap.left
{
	float:left;
	text-align:left;
}

.matrix-wrap.right, .matrix-login-wrap.right
{
	float:right;
	text-align:right;
}

.matrix-image-wrap
{
	width:100%;
	height:50px;
	overflow:hidden;
}

.matrix-login-wrap
{
	width:100%;
	height:30px;
	padding:10px 0 0 0;
	text-align:center;
	overflow:hidden;
}

.matrix-partner
{
	width:80px;
	height:82px;
}

.matrix-partner.center.status_2, .matrix-partner.status_2
{
	background: url("../images/status_2.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.matrix-partner.center.status_3, .matrix-partner.status_3
{
	background: url("../images/status_3.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.matrix-partner.center.status_4, .matrix-partner.status_4
{
	background: url("../images/status_4.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.matrix-partner.center.status_5, .matrix-partner.status_5
{
	background: url("../images/status_5.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.matrix-binary-empty
{
	padding-top: 50px;
}

.matrix-partner.center, .matrix-login.center
{
	margin: 0 auto;
}

.matrix-partner.right
{
	float:right;
}

.matrix-partner.center
{
	margin: 0 auto;
}

.matrix-binar-line
{
	background: url("../images/binar-line.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	width:100%;
	height:27px;
	padding:10px 0 0 20px;
	overflow:hidden;
}

.matrix-info
{
	width:100%;
	overflow:hidden;
}

.demo-structure
{
	margin-bottom: 50px;
}

.tr_active_status
{
	background-color:#90EE90!important;
	color:#000000;
}
