.simple-marquee-container *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.simple-marquee-container {
	width: 100%;
	background: #dedede;
	float: left;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	height: 80px;
	position: relative;
	cursor: pointer;	
	border-radius: 5px;
}

.marquee-sibling {
	padding: 0;
	background: rgb(61, 61, 61);
	width: 20%;
	height: 45px;
	line-height: 42px;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	float: left;
	left: 0;
	z-index: 2000;
}

.marquee, *[class^="marquee"] {
	display: inline-block;
	white-space: nowrap;
	position:absolute;
}

.marquee{
  margin-left: 25%;
}

.marquee-content-items{
  display: inline-block;
  padding: 20px 5px;
  margin: 0;
  height: 80px;
  position: relative;
}

.marquee-content-items li{
  display: inline-block;
  /*line-height: 35px;
  color: #fff;*/
  margin-right:10px;
}

.marquee-content-items li:after{
	/*content: "|";*/
	margin: 0 1em;
}

.geo_data_wrap
{
	float: left;
	width: 160px;
	overflow: hidden;
}

.geo_image_wrap
{
	float: left;
	width:45px;
	padding-top:10px;
	margin-right:5px;
}

.geo_info_wrap
{
	float: left;
	width:80px;
}

.geo_info_login, .geo_info_date
{
	width:100%;
}

.geo_info_login
{
	font-size:14px;
	font-weight: bold;
}

.geo_info_date
{
	font-size:10px;
}
